@font-face {
   font-family: 'Brusher-Regular';
   src: url('Brusher-Regular/font.ttf');
}
@font-face {
   font-family: '07723_Cgothicb0';
   src: url('07723_Cgothicb0/font.ttf');
}
@font-face {
   font-family: 'Bodrum';
   src: url('Bodrum/font.ttf');
}
